<h1>Searching for - <%= @search_term %></h1>
<table>
  <tr>
    <th>Image</th>
    <th>Name</th>
    <th>Description</th>
  </tr>
  <%= @recipes %>
    <tr>
      <td><%=  %></td>
      <td><%= %></td>
      <td><%= %></td>
    </tr>
  <%  %>
</table>
